/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */


body
{
background-color: lightblue;
margin: 0px;
}

header
{
    background-color: lightcoral;
    width: 100%;
}

h1
{
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0px;
}

footer
{
    background-color: lightcoral;
    margin-top: 100px;
    padding-bottom: 100%;
}

p
{
    color: snow;
    font-style: italic ;
    font-family: monospace;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: x-large;
}

img
{
    border: 10px solid lightcoral;
    padding: 10px;
    margin-top: 35px;
}

ul
{
    font-family: monospace;
    padding: 50px;
    line-height: 3;
    font-weight: bolder;
    font-size: large;
}

.picRight
{
    float: right;
}